---
import Header from '../components/Header.astro'
import HotelDetailPage from '../components/hotel-details/HotelDetailPage'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <Header/>
    <section class="pt-[100px] px-6">
        <HotelDetailPage client:load/>
    </section>
</Layout>