---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="google-site-verification" content="-yGBVYrHog-zv1mgXtsaMkKVg1xzAuEH5l5NnX8PBWg" />
		<link rel="icon" href="/favicon.ico" sizes="100x100" />
		<title>Haven Hotel</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background: #fef5e7;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-family: 'Poppins', sans-serif;
		box-sizing: border-box;
	}
</style>
